body,
html {
  background-color: #1c2333;
  color: white;
  font-family: sans-serif;
  width: 250px; /* chrome only! */
}

* {
  box-sizing: border-box;
}

input {
  font: 15px/23px 'Open Sans', sans-serif;
  letter-spacing: 1px;
  width: 100%;
}

textarea {
  padding: 10px;
  font: 15px/23px 'Open Sans', sans-serif;
  letter-spacing: 1px;
  width: 100%;
}

.backdrop {
  white-space: pre-wrap;
  word-wrap: break-word;
  background-color: white; /* or whatever */
  color: #3a3a45;
}

mark {
  background-color: yellow; /* or whatever */
}

#container {
  padding: 16px;
}

.panel {
  overflow-y: auto;
  white-space: pre-wrap;
}

.highlight {
  background-color: #f5f5a8;
}

.error {
  color: red;
}
